################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Yinsh-backend/v14/.suo
/packages
/Yinsh/obj/Debug
/Yinsh/bin/Debug
/Yinsh.Tests/bin/Debug
/Yinsh.Tests/obj/Debug
